{% extends "dasar.html" %} 
{% block nav %}
{% include "snippets/navadmin.html" %}
{% endblock nav %}
{% block modaldelete %}
{% include "snippets/modalbanned.html" %}
{% endblock modaldelete %}
{% block konten %}
{% if alert_account %}
<script>alert('Akun Anda Memiliki Batasan')</script>
{% endif %}
<div class="jumbotron jumbotron-fluid" style="margin: 10px; box-shadow: 7px 7px 20px; border-radius: 30px;" >
  <div class="container">
      <h1 class="display-4">hi, {{ user.username }}</h1>
      <p class="lead">Monitoring User And Report</p>
  </div>
</div>
{% endblock konten %}