{% load static %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">SIPJASA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
   <div class="navbar-nav ml-auto action-buttons">

      {% if user.is_authenticated %}
         <div class="btn-group dropleft">
            <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: transparent; color: white;">
            Hi, {{user.username}}
            </button>
         <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'indexguide' %}">Panduan</a>
            <a class="dropdown-item" href="{% url 'report:indexreport' %}">Lapor</a>
            <a class="dropdown-item" href="{% url 'register:profilakun'%}">Profil</a>
            <a class="dropdown-item" href="{% url 'provider:logout' %}">Keluar</a>

         </div>
      <img src="{{user.userprofile.profile_photo.url}}" style="width: 40px; height: 40px; margin-left: 3px; border-radius: 50%;" alt="{% static "img/user.png" %}">
      </div>
      {% else %}
      <a href="{% url 'register:register'%}" class="btn btn-outline-success" style="margin-bottom: 5px; margin-right:10px; background-color: #f1c40f; color: white; border-radius: 50px;">Registrasi</a>
      <a href="{% url 'login:indexlogin'%}" class="btn btn-outline-success" style="margin-bottom: 5px; margin-right:10px; background-color: #f1c40f; color: white; border-radius: 50px;">Login</a>
      {% endif %}
   </div>
</nav>