{% load static %}

<script src="{% static "vendor\jquery\jquery.js" %}" type="text/javascript" charset="utf-8" async defer></script>
<script src="{% static "vendor\popper\popper.js" %}" type="text/javascript" charset="utf-8" async defer></script>
<script src="{% static "vendor\bootstrap\bootstrap.js" %}" type="text/javascript" charset="utf-8" async defer></script>
<script src="{% static "vendor\DataTables2\datatables.min.js" %}" type="text/javascript" charset="utf-8" async defer></script>
<script src="{% static "js\javascript.js" %}" type="text/javascript" charset="utf-8" async defer></script>