{% extends "dasar.html" %}
{% load static %}
{% load humanize %}

{% block style %}
<style>
td{
  vertical-align: top;
}
</style>
{% endblock style %}

{% block nav %}
{% include "snippets/nav.html" %}
{% endblock nav %}
{% block konten%}
<div style="margin:20px;">
    <h2 class="mb-4"><a href="{% url 'index' %} "><span class="fa fa-arrow-left"></span></a> {{header}}</h2>
    <table style="width: 100%; margin-bottom: 30px; box-shadow: 7px 7px 20px; border-radius: 30px; border:1px;" >
        <tbody>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td style="width:40%"><img src="{{gambar.profile_photo.url}}" style="width: 450px; height: 450px; text-align: right; border-radius: 50%; padding: 0px; -moz-box-shadow: 10px 10px 5px #ccc; -webkit-box-shadow: 10px 10px 5px #ccc; box-shadow: 10px 10px 5px #ccc; -moz-border-radius:25px; -webkit-border-radius:25px;" alt="img"></td>
            <td>
                <table style="width: 100%; height: 500px; text-align: left;" border="0">
                    <tbody>
                    <tr>
                        <td colspan="3" style="height:10px;"><h4 class="mb-4">Data Informasi</h4><hr></td>
                    </tr>                        
                    <tr>
                        <td style="width: 40%;">Nama Jasa</td>
                        <td>:</td>
                        <td>{{data.nama_jasa}}</td> 
                    </tr>
                    <tr>
                        <td>Pemilik Jasa</td>
                        <td>:</td>
                        <td>{{data.pemilik_jasa}}</td>
                    </tr>
                    <tr>
                        <td>Akun Pemilik </td>
                        <td>:</td>
                        <td>{{data.user.username}}</td>
                    </tr>
                    <tr>
                        <td>Email Jasa</td>
                        <td>:</td>
                        <td>{{data.email_jasa}}</td>
                    </tr>
                    <tr>
                        <td>No. Telepon</td>
                        <td>:</td>
                        <td>{{data.no_telp}}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>:</td>
                        <td>{{gambar.status}}</td>
                    </tr>
                    <tr>
                        <td>Rating</td>
                        <td>:</td>
                        {% if average >= 1.0 and average <= 1.9  %}
                        <td><img src="{% static 'img/1.png' %}" alt="img" style="width: 100px;">  {{average}}</td>
                        {% elif average >= 2.0 and average <= 2.9 %}
                        <td><img src="{% static 'img/2.png' %}" alt="img" style="width: 100px;">  {{average}}</td>
                        {% elif average >= 3.0 and average <= 3.9 %}
                        <td><img src="{% static 'img/3.png' %}" alt="img" style="width: 100px;">  {{average}}</td>
                        {% elif average >= 4.0 and average <= 4.9 %}
                        <td><img src="{% static 'img/4.png' %}" alt="img" style="width: 100px;">  {{average}}</td>
                        {% elif average >= 5.0 %}
                        <td><img src="{% static 'img/5.png' %}" alt="img" style="width: 100px;">  {{average}}</td>
                        {% else %}
                        <td>{{average}}<td>
                        {% endif %}
                    </tr>                    
                    <tr>
                        <td>Alamat</td>
                        <td>:</td>
                        <td>{{data.alamat}}, {{data.kecamatan}}, Kab. Pemalang</td>
                    </tr>
                    <tr>
                        <td>Deskripsi</td>
                        <td>:</td>
                        <td>{{data.deskripsi_jasa|linebreaks}}</td>
                    </tr>
                    <tr>
                        <td colspan="3"><a href="https://wa.me/62{{data.no_telp|slice:"1:"}}" class="btn " style="border-radius: 50px; background-color: #4ed433; color: white;">Whatsapp</a></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        </tbody>
    </table>
    </div>
{% endblock konten%}