{% extends "dasar.html" %}
{% load crispy_forms_tags %}
{% block nav %}
{% include "snippets/nav.html" %}
{% endblock nav %}
{% block konten %}
<div class="container" style="margin-top:20px;">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
</div>
{% endblock konten %}